
  /* Set background color */
  body {
    background-color: #111;
  }
  body p {
 color: aliceblue;

 
  }
  
  /* Container for the main content */
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  